R1: An app-based system is to be developed for automatize and fast esecution of trading in the stock market
R2: The application have to create amd identity, manage the authentication and authorization of users to perform actions into the market
R3: The platform can manage several markets, starting from 4 stock markets
R4: The action that can be taken are substantially two: Buy and sell
R5: The platform decide and shows a determined price depending on averaged two factor: A price reference from other two trading platform and the order-book
R6: The order-book determine a price taking the middle of the gap-price between ask and bid registered orders in Walrasian auction type (tâtonnement) in perfect information.
R7: The platform has to manage a critical event on market such as extreme volatility
R8: The application has to be acknowledged by the balance, the total asset and equity of the user for authorize partially or totally an user to operate in the market
R9: The application has to be acknowledged by the balance, the total asset and equity of the user for authorize a withdraw
R10: The value balance-asset-equity and a balance of an user cannot be less than zero
R11: The application has two critical action depending on value balance-asset-equity: First action thresholded as an alarm and a second action an immediate sold of a target position

Exam:

Compare alternative abstraction mechanisms in VDM and exemplify where they can be used
-What is and why we use abstraction to model complex systems
-Types: Tokens, Collections, records, enumerations build-ins (nat, real etc.)
-Predicates and quantifiers to formalate invariants, pre and post conditions
-Example: Set comprehension predicate
-Example: Operations with pre- and post conditinos using quantifiers

Explain and compare semantics of VDM collections:
-sets {}
-seq []
-mappings {|->} 
    -reverse mappings

Provide an overview of the concepts in VDM
-purpose of vdm 
    -declarative language 
-basic concepts 
    -classes, inheritance, operation, function (difference), pre-post condition
-difference between a imperative language and declarative
-testing

Explain and compare the different validation techniques in a VDM setting
-pre/post conditions
-invariance
-proof obligations
-unit/system testing
    -difference

Provide an overview of the process for developing distributed real-time systems using VDM-RT
-use cases
-design models
    -world/time 
    -++sequential   
    -++concurrency
    -realtime
    -validation
-testing different design models
    -testing the entire system

Explain the concepts and semantics of the concurrency concepts in VDM++
-what is concurrency
-solve the problem with threads
-synch permission predicates
-mutexes and history conters
-producer/consumer example


Reflect upon pros and cons with practical use of VDM for mission critical applications
-purpose
-pro
    -verification/validation
    -low risk in development
    -use-cases
        -critical or not
        -big or small project
-cons
    -takes time and increase costs
    -human errors
    -not widespread
    -use-cases
        -critical or not
        -big or small project

